<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong class="is-size-5">Title</strong>
        <br>
        <small class="is-size-7"> 
          <% if member_signed_in? %> <i>username </i> <% end %>
          time
        </small>
        <br>
        <p class="has-text-justified is-size-6" >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in porta sem. Donec dapibus facilisis auctor. 
        Donec id risus ut dolor ullamcorper tristique. Curabitur sed arcu non nisi rutrum maximus ut ac augue. Morbi 
        finibus facilisis volutpat. Curabitur tristique elit lorem, sit amet tincidunt est faucibus vehicula. Duis aliquam leo ut 
        ultricies tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer quis lacus 
        ac eros malesuada tristique quis eget nisl.
        </p>
        <br>
      </div> 
    </div> 
  </article>
</div>

<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong class="is-size-5">Title</strong>
        <br>
        <small class="is-size-7"> 
          <% if member_signed_in? %> <i>username </i> <% end %>
          time
        </small>
        <br>
        <p class="has-text-justified is-size-6" >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in porta sem. Donec dapibus facilisis auctor. 
        Donec id risus ut dolor ullamcorper tristique. Curabitur sed arcu non nisi rutrum maximus ut ac augue. Morbi 
        finibus facilisis volutpat. Curabitur tristique elit lorem, sit amet tincidunt est faucibus vehicula. Duis aliquam leo ut 
        ultricies tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer quis lacus 
        ac eros malesuada tristique quis eget nisl.
        </p>
        <br>
      </div> 
    </div> 
  </article>
</div>