<div class="columns">
  <div class="column"></div>
  <div class="column is-two-thirds">
    <% if member_signed_in? %>
      <%= render 'form' %>
    <% end %>
    <div class="container pt-3">
      <%= render 'feed' %>
    </div>
  </div>
  <div class="column"></div>
</div>
